main {
  width: 100%;
  flex: 1;
  
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;

    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }

    .dev-item {
      background: #ffffff;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.02);
      border-radius: 2px;
      padding: 20px;
      width: 100%;
      
      p {
        color: #666;
        line-height: 20px;
        font-size: 14px;
        margin: 10px 0;
      }

      a {
        color: #8e4dff;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: #5a2ea6;
        }
      }

      header {
        display: flex;
        align-items: center;

        .user-info {
          margin-left: 10px;

          strong {
            display: block;
            font-size: 16px;
            color: #333;
          }

          span {
            font-size: 13px;
            color: #999;
            margin-top: 2px;
          }
          
        }
        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
        }
      }
    }
  }
}